* {
  box-sizing: border-box;
}

html {
  background-color: #bababa7a;
}

p {
  word-wrap: break-word;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 50px;
  background-color: #ff6600;
}

.navbar img {
  max-height: 50px;
}

.main-container {
  margin: 20px;
}

/* Homepage */
.main-color {
  color: #ff6c37;
  margin: 0 2px;  
}

.story-posts-wrapper {
  margin-bottom: 1px;
  border-bottom: 1px solid rgb(0 0 0 / 24%);
}

.story-posts-wrapper:hover, .story-posts-wrapper:focus-within {
  box-shadow: 0px 5px 3px 0px rgb(0 0 0 / 24%);
  z-index: 1;
}

.story-posts-wrapper:hover {
  z-index: 2;
}

.MuiAccordionSummary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;  
}

.MuiAccordionSummary-content p {
  width: 100%;
  font-weight: bold;
  display: flex;
  margin: 10px 0;
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.divider-div {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: black;
  margin: auto 5px;
}

.post-interactions, .post-interactions p {
  display: flex;
  align-items: center;
  text-align: center;
}

.MuiAccordionDetails-root {
  padding: 8px 16px 16px;
  background-color: #dcdcdc73;
  width: 100%;
}

a.post-interactions {
  text-decoration: none;
  color: inherit;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
}

a.post-interactions:hover {
  color: red;
  background-color: #e2e1e0;
  border-radius: 5px;
}

.summary-accordion {
  display: contents;
}

/* Load more button */
.load-more-button {
  display: flex;
  justify-content: center;
}

.comments-container button.MuiLoadingButton-root {
  min-width: 10px;
  width: 10px;
  height: 20px;
  padding: 20px;
  border-radius: 100%;
  background-color: #dddddd;
}

.comments-container button.MuiLoadingButton-root svg {
  font-size: 20px;
  color: #ff6c37;
}

button.MuiLoadingButton-root:hover {
  box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 24%);
  background-color: #ff6c37;
}

button.MuiLoadingButton-root svg:hover {
  color: #dddddd;
}

/* Story Details view */
.story-post-wrapper {
  background-color: #fdfdfd;
  padding: 1px 16px 30px 16px;
  font-weight: bold;
  box-shadow: 0px 5px 3px 0px rgb(0 0 0 / 24%);
  border-radius: 5px;
}

.comments-container p {
  color: #8b8b8b;
}

/* divider component */
.divider-line-container {
  display: flex;
  margin: 20px 0;
}

.divider-line {
  display: inline-block;
  margin: auto 0;
  height: 1.5px;
  content: " ";
  text-shadow: none;
  background-color: #888787;
  width: 100%;
}