* {
  box-sizing: border-box;
}

html {
  background-color: #bababa7a;
  /* min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center; */
}

/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  background-color: #ff6600;
}

.navbar img {
  max-height: 80px;
}

/* Homepage */
.main-color {
  color: #ff6c37;
}

.story-posts-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.story-posts-wrapper {
  width: 100%;
  margin: .5px 0;
}

.story-posts-wrapper:hover, .story-posts-wrapper:focus-within {
  box-shadow: 0px 5px 3px 0px rgb(0 0 0 / 24%);
  z-index: 1;
}

.story-posts-wrapper:hover {
  z-index: 2;
}

.MuiAccordionSummary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;  
}

.MuiAccordionSummary-content p {
  width: 100%;
  font-weight: bold;
}

.subject {
  display: flex;
}

.divider-div {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: black;
  margin: 5px;
}

.post-interactions, .post-interactions p {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.MuiAccordionDetails-root {
  padding: 8px 16px 16px;
  background-color: #dcdcdc73;
}

a.post-interactions {
  text-decoration: none;
  color: inherit;
}

a.post-interactions:hover {
  color: red;
}

/* Load more button */
.load-more-button {
  display: flex;
  justify-content: center;
}

button.MuiLoadingButton-root {
  min-width: 20px;
  width: 45px;
  margin-bottom: 20px;
}

button.MuiLoadingButton-root:hover {
  box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 24%);
  background-color: #ff6c37;
}