
@media only screen and (max-width: 700px)  {

  .navbar, .navbar img {
    max-height: 40px;
  }

  .main-container {
    padding: 45px 5px 5px 5px;
  }
  
  /* Homepage */
  .MuiAccordionSummary-content p {
    font-size: 10px;
    margin: 5px 0;
  }

  .post-details {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  .post-details div {
    display: inline-flex;
  }

  .post-interactions svg {
    font-size: 12px;
  }

  .MuiAccordionDetails-root p {
    font-size: 10px;
  }

/* Story details view */
  .story-post-wrapper p {
    font-size: 10px;
  }

  p.post-interactions {
    justify-content: center;
  }

  .comments-container button.MuiLoadingButton-root {
    height: 15px;
    padding: 8px;
    background-color: #dddd;
  }

  .comments-container button.MuiLoadingButton-root:hover {
    background-color: #ff6c37;
  }
}